<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet soluta blanditiis voluptates quas velit. Perferendis optio blanditiis dicta cupiditate, nesciunt accusamus dolores obcaecati tempora reiciendis inventore nisi libero nemo quas?
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-img src="https://i.blogs.es/94fa63/disney-tiene-un-gran-problema-con-the-mandalorian-2/450_1000.jpg">
    </ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet soluta blanditiis voluptates quas velit. Perferendis optio blanditiis dicta cupiditate, nesciunt accusamus dolores obcaecati tempora reiciendis inventore nisi libero nemo quas?
    </ion-card-content>
  </ion-card>

</ion-content>
